/*COMMONS*/

.back-arrow{
    color: #005B89;
    margin-top: 10px;
    margin-left:15%;
}
/*ORGANISATION PAGE*/
.organisation-page h1{
    color: #39BB9D;
    text-transform: uppercase;
}
.organisation-page h2{
    color: #39BB9D;
    text-transform: uppercase;
}
.organisation-page h3{
    color: #39BB9D;
    text-transform: uppercase;
}

/*.organisation-page {
 color: #005B89;
 margin-left: 5%;
 margin-right: 5%;
}*/
.organisations-page{
    /*margin: 10px;*/
    border: solid white 15px;
    /*border: solid #f8f9fa 15px;*/
    padding-top:10px;
    background-color:#f8f9fa;
    /*background-color:white;*/
    
}
.organisation-image {
    width: 300px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.organisation-title{
    text-align: center;
}
.organisation-contact-info{
  color: #39BB9D;
  display: inline-block;
  width: 50px;
}
.organisation-contact-info-text{
    padding-left: 30px;
    font-weight: 600;
    display: inline-block;
    font-size: 22px;
     color: #005B89;
     display: inline-block;
}
.organiastion-contact-wrapper {
    margin-bottom: 40px;
    margin-top: 30px;
} 

/*ORGANISATIONS PAGE*/
.organisations-page {
    display: inline-block;
    margin-top: 1.25rem;
    text-align: center;
   
    width:25%;
    /*float: none; */
}

.organisations-page {
     height: 500px;
}

@media (max-width: 1110px) {
    .organisations-page { 
        width:50%
    }
    /*.back-arrow{
    display: none;
}*/
    
}

.organisations-page h1{
   color: #005B89;
   
   font-size: 20px;
   font-weight: 600;
}

.organisations-page h1:hover{
   color: #39BB9D;
}

.organisations-image {
    overflow: hidden;
    /*width: 300px;*/
    text-align: center;
    position: relative;
    display: block;
    margin: .5rem;
    /*padding-top: 15%;*/
    /*padding-bottom: 25%;*/
}
.organisations-image img {
    height: auto;
    width: 60%;
    max-width: 250px;
    max-height:250px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.organisation-tags {
    font-size:12px;
    padding: 1rem;
    /*position: absolute;*/
    bottom: 0;
    /*background-color: white;*/
    border-top: solid #005B89 1px;
}
.organisation-tags-status {
    display: inline-block;
    background-color: #f9b234;
    margin-top: 25%;
    color: #FFF;
    padding: .3rem 0.6rem;
    margin-top: 20%;
    /*margin-bottom: 20%;*/
    /*position: absolute;*/
    z-index: 2;
}

/*ORANGE TAGS*/
.organisation-listings-tags-status {
    display: inline-block;
    /*background-color: #fff;*/
    margin-top: 25%;
    color: #39BB9D;
    padding: .3rem;
    margin-top: 20%;
    /*margin-bottom: 20%;*/
    /*position: absolute;*/
    z-index: 2;
    font-size: 14px;
    font-weight: 600;
}


h1{
    font-family: 'Lato', sans-serif;
}
p{
    font-family: 'Lato', sans-serif;
}
body{
    font-family: 'Lato', sans-serif;
    color: #005B89;
    font-size: 20px;
    font-weight: 550;
    /*background-color: #f7f6f5;*/
}
/*.locatio-div {
      display: inline-block;
      float: right;
    }*/
/*# LocationFilter #*/
.location-filter {
    font-size: 18px;
    text-align: right;
    color: #39BB9D;
      padding-top:20px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
/*.location-filter div:hover {
      background-color: #39BB9D;
    color: #FFF;
}*/

.dropdown-placeholder {
    font-size: 14px;
}
.Dropdown-option{
    
    margin: -50px;
    margin-right: 0px;
    font-size: 14px;
    

}

.google-translate{
    display: inline-block;
    padding: 50px;
    font-size: 24px;
}
.location-div{
    display: inline-block;
}
.location-wrapper{
    display: inline-block;
    padding: 50px;
}
.location-language-selector-wrapper{
    margin-left:auto;
    margin-right:auto;
    text-align: center; 
    background-color:#f8f9fa;
}
.intro-div{
    background-color:#f8f9fa;
    text-align: center;    
    padding-top: 40px;
}

.container{
    width: 100%;    
    margin: 0 auto;
    
}
.container-organsiation{
    width: 70%;
    margin: 0 auto;
}

/*subcategories*/
.sub-categories{
    color: #39BB9D;
    width: 60%;
    font-size: 18px;
    margin: auto;
    padding-bottom: 40px;
    background-color: #f8f9fa;
    /*background-color: white;*/
    padding-top: 20px;
    border: solid #f8f9fa 10px; 
}
.subcategories{
    padding-bottom: 150px;
    display: block;
    font-size: 14px; 
    padding-left: 15%; 
    padding-right: 5%;
}
.about-container{
    width: 70%;
}
.category-div{
    padding-top: 100px;
    padding-bottom: 100px;

}
.home-page-top-wrapper{
    width: 70%;
    margin: auto;
    text-align: center;
}
.intro-div{
    font-size:20px;
}
.location-home-filter {
    font-size: 24px;
}
.location-home-div{
    font-size: 24px;
} 
@media (min-width: 1024px) {
      .category-wrapper{
          width: 25%;
          display: inline-block;
          margin:auto;
      }
}
@media (min-width: 767px){
     .float-left{
    float: left;
}
}
@media (max-width: 848px) {
 .logo-link-image{
    max-width: 60%;
}
.menu a {
    padding-top: 0px;
    padding-bottom:0px;
}
.logo-link{
    margin-bottom: -30px;
}
.menu-location{
    display: none;
}
li{
    padding-left: 30px;
}
header{
    margin-bottom: 10px;
}
}
@media (max-width: 499px) {
 .logo-link-image{
    max-width: 100%;
}
}
@media (max-width: 1023px){
        .category-wrapper{
        width: 50%;
        display: inline-block;
        margin: auto;
    }
}
@media (max-width: 767px) {
  .sub-categories{
      padding-bottom: 0px;
  }
    .subcategories{
    padding-left: 5%; 
    padding-right: 2%;
}
.about-container{
    width: 90%;
}
   .intro-div{
    font-size: 18px;
}
.google-translate{
    display: block;
}
.location-div{
    display: block;
}
 .menu nav {
     display:none;
 }
   .container-organsiation{
    width: 90%;
    }
    .organisation-contact-info-text{
        font-size:16px;
    }
    .organiastion-contact-wrapper{
        margin-bottom:30px;
    }
    .organisations-page h1{
        font-size: 16px;
    }
    h2, h3 {
        font-size: 20px;
    }
    body{
        font-size:16px;
    }
    /*.menu {
        margin-top: 20px;
    }
    .menu a {
        float: none;
        margin: auto;
    }
    .menu li{
        display: block;
        width: 100%;
        color: #39BB9D;
    }
    .menu a {
        display: block;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 100%;
    }*/
    .logo-link{
        display: block;
    }
    /*menu-nav a:focus{
        background-color: #39BB9D;
        color: #fff;
        background-size: cover;
    }
    .menu nav{
        display: block;
    }
    .menu li :focus{
        background-color: #39BB9D;
        color: #fff;
    }
    .menu ul{
        display: block;
    }*/

    .location-filter {
        display: block;
        width: 100%;
        /*float:left;*/
        /*padding-right: 28%;*/
        padding-top: 0px;
        padding-bottom: 0px;
        /*padding-left: -5%;*/
    }
    .category-div{
        padding-top: 20px;
        padding-bottom: 20px;
        
    }
    .category-wrapper{
        width: 50%;
        display: inline-block;
        margin: auto;
    }
   
}


.checkbox {
    margin-top: 20px;
    color: #005B89;
    font-weight: 500;    
}
.checkbox input {
    background-color: white;
}
.goog-te-gadget-simple{
    color:#39BB9D;
}
.goog-te-menu-value{
    color:#39BB9D;
    
}
.goog-te-gadget-simple{
    border: none !important;
    color:#39BB9D;    
    font-size: 16pt;
}

.goog-te-gadget-icon{
    display: none;
}

/*body{
    background-color: #f8f9fa;
}
.menu{
    background-color: #f8f9fa;    
}*/
/*.google-translate {
    margin-top:20px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}*/

/*.checkbox input {
    position: absolute;
    width: 10px;
    height: 10px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}*/

/*#google_translate_element {
    position: absolute; 
    padding: 40px 0px;
    padding-left: 20%;
}*/